<section class="contact-section">
    <h2>Get in Touch</h2>
  
    <div class="contact-content">
      <!-- Contact Details -->
      <div class="contact-details">
        <h3>Our Details</h3>
  
        <p>
          <strong>Address:</strong><br />
          No.71/1, Haripriya Lifestyle Layout Road, Beside Paradise Church,<br />
          Lake Road, Doddanagamangala, Electronic City Post,<br />
          Bangalore Karnataka 560100
        </p>

        <p>
          <strong>Phone:</strong><br />
          +91 9743228881 / +91 9743228882 / +91 9743228882
        </p>
  
        <p>
          <strong>Email:</strong><br />
          trinityacademy2k26@gmail.com
        </p>
  
        <h3 class="map-title">Find Us On Map</h3>
  
        <div class="map-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.960123545213!2d77.67385037585618!3d12.866959217162266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6d358c8698ad%3A0x1af2accd85f69e17!2sTrinity%20Academy!5e0!3m2!1sen!2sin!4v1771052312800"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
    </div>
  </section>
  