<header class="header">
    <div class="logo-section">
      <img
        src="assets/images/trinity_academy_logo.png"
        alt="Trinity Preschool Logo"
        class="logo"
      />
  
      <!-- <div class="brand-text">
        <h1>TRINITY ACADEMY</h1>
        <span>BRIGHT MINDS, BRIGHT SMILES </span>
      </div> -->
    </div>
  
    <!-- <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/about" routerLinkActive="active">About Us</a>
      <a routerLink="/programs" routerLinkActive="active">Programs</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav> -->
    <nav class="nav-links">
      <a href="#home">Home</a>
      <a href="#about">About Us</a>
      <a href="#programs">Programs</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>
  